---
layout: default
---

{% include breadcrumbs.html %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<div class="post-nav">
  <div>
    {% if page.previous.url %}
      <a href="{{page.previous.url}}">
        <span class="unsighted">Previous:</span>
        <span aria-hidden="true">&laquo;</span>
        {{page.previous.title}}
      </a>
    {% endif %}
  </div>
  <div class="post-nav-next">
    {% if page.next.url %}
    {% assign next_post_title_array = page.next.title | split: " " %}
    {% assign next_post_cape_length = next_post_title_array | size | minus: 1 %}
    {% assign next_post_cape = page.next.title | truncatewords: next_post_cape_length, "" %}
    {% assign next_post_spit = next_post_title_array | last %}
    <a href="{{page.next.url}}">
      <span class="unsighted">Next:</span>
      {{next_post_cape}}
      <span style="white-space: nowrap;">
      {{next_post_spit}}
      <span aria-hidden="true">&raquo;</span>
      </span>
    </a>
    {% endif %}
  </div>
</div>

